# Document Loaders

## Required Installations

In [ ]:
# For File Directory LoaderL: unstructured, unstructured[pdf]

In [37]:
!pip install unstructured
!pip install unstructured[pdf] --user

Requirement already satisfied: unstructured in d:\codework\github\langchain_training\.venv\lib\site-packages (0.12.5)
Requirement already satisfied: chardet in d:\codework\github\langchain_training\.venv\lib\site-packages (from unstructured) (5.2.0)
Requirement already satisfied: filetype in d:\codework\github\langchain_training\.venv\lib\site-packages (from unstructured) (1.2.0)
Requirement already satisfied: python-magic in d:\codework\github\langchain_training\.venv\lib\site-packages (from unstructured) (0.4.27)
Requirement already satisfied: lxml in d:\codework\github\langchain_training\.venv\lib\site-packages (from unstructured) (5.1.0)
Requirement already satisfied: nltk in d:\codework\github\langchain_training\.venv\lib\site-packages (from unstructured) (3.8.1)
Requirement already satisfied: tabulate in d:\codework\github\langchain_training\.venv\lib\site-packages (from unstructured) (0.9.0)
Requirement already satisfied: requests in d:\codework\github\langchain_training\.venv\lib\site-packages (from unstructured) (2.31.0)
Requirement already satisfied: beautifulsoup4 in d:\codework\github\langchain_training\.venv\lib\site-packages (from unstructured) (4.12.3)
Requirement already satisfied: emoji in d:\codework\github\langchain_training\.venv\lib\site-packages (from unstructured) (2.10.1)
Requirement already satisfied: dataclasses-json in d:\codework\github\langchain_training\.venv\lib\site-packages (from unstructured) (0.6.4)
Requirement already satisfied: python-iso639 in d:\codework\github\langchain_training\.venv\lib\site-packages (from unstructured) (2024.2.7)
Requirement already satisfied: langdetect in d:\codework\github\langchain_training\.venv\lib\site-packages (from unstructured) (1.0.9)
Requirement already satisfied: numpy in d:\codework\github\langchain_training\.venv\lib\site-packages (from unstructured) (1.26.4)
Requirement already satisfied: rapidfuzz in d:\codework\github\langchain_training\.venv\lib\site-packages (from unstructured) (3.6.1)
Requirement already satisfied: backoff in d:\codework\github\langchain_training\.venv\lib\site-packages (from unstructured) (1.10.0)
Requirement already satisfied: typing-extensions in d:\codework\github\langchain_training\.venv\lib\site-packages (from unstructured) (4.9.0)
Requirement already satisfied: unstructured-client>=0.15.1 in d:\codework\github\langchain_training\.venv\lib\site-packages (from unstructured) (0.18.0)
Requirement already satisfied: wrapt in d:\codework\github\langchain_training\.venv\lib\site-packages (from unstructured) (1.16.0)
Requirement already satisfied: certifi>=2023.7.22 in d:\codework\github\langchain_training\.venv\lib\site-packages (from unstructured-client>=0.15.1->unstructured) (2024.2.2)
Requirement already satisfied: charset-normalizer>=3.2.0 in d:\codework\github\langchain_training\.venv\lib\site-packages (from unstructured-client>=0.15.1->unstructured) (3.3.2)
Requirement already satisfied: dataclasses-json-speakeasy>=0.5.11 in d:\codework\github\langchain_training\.venv\lib\site-packages (from unstructured-client>=0.15.1->unstructured) (0.5.11)
Requirement already satisfied: idna>=3.4 in d:\codework\github\langchain_training\.venv\lib\site-packages (from unstructured-client>=0.15.1->unstructured) (3.6)
Requirement already satisfied: jsonpath-python>=1.0.6 in d:\codework\github\langchain_training\.venv\lib\site-packages (from unstructured-client>=0.15.1->unstructured) (1.0.6)
Requirement already satisfied: marshmallow>=3.19.0 in d:\codework\github\langchain_training\.venv\lib\site-packages (from unstructured-client>=0.15.1->unstructured) (3.20.2)
Requirement already satisfied: mypy-extensions>=1.0.0 in d:\codework\github\langchain_training\.venv\lib\site-packages (from unstructured-client>=0.15.1->unstructured) (1.0.0)
Requirement already satisfied: packaging>=23.1 in d:\codework\github\langchain_training\.venv\lib\site-packages (from unstructured-client>=0.15.1->unstructured) (23.2)
Requirement already satisfied: python-dateutil>=2.8.2 in d:\codework\github\langchain_training\.venv\lib\site-packages (from unstructured-client>=0.15.1->unstructured) (2.8.2)
Requirement already satisfied: six>=1.16.0 in d:\codework\github\langchain_training\.venv\lib\site-packages (from unstructured-client>=0.15.1->unstructured) (1.16.0)
Requirement already satisfied: typing-inspect>=0.9.0 in d:\codework\github\langchain_training\.venv\lib\site-packages (from unstructured-client>=0.15.1->unstructured) (0.9.0)
Requirement already satisfied: urllib3>=1.26.18 in d:\codework\github\langchain_training\.venv\lib\site-packages (from unstructured-client>=0.15.1->unstructured) (2.2.1)
Requirement already satisfied: soupsieve>1.2 in d:\codework\github\langchain_training\.venv\lib\site-packages (from beautifulsoup4->unstructured) (2.5)
Requirement already satisfied: click in d:\codework\github\langchain_training\.venv\lib\site-packages (from nltk->unstructured) (8.1.7)
Requirement already satisfied: joblib in d:\codework\github\langchain_training\.venv\lib\site-packages (from nltk->unstructured) (1.3.2)
Requirement already satisfied: regex>=2021.8.3 in d:\codework\github\langchain_training\.venv\lib\site-packages (from nltk->unstructured) (2023.12.25)
Requirement already satisfied: tqdm in d:\codework\github\langchain_training\.venv\lib\site-packages (from nltk->unstructured) (4.66.2)
Requirement already satisfied: colorama in d:\codework\github\langchain_training\.venv\lib\site-packages (from click->nltk->unstructured) (0.4.6)
Requirement already satisfied: unstructured[pdf] in d:\codework\github\langchain_training\.venv\lib\site-packages (0.12.5)
Requirement already satisfied: chardet in d:\codework\github\langchain_training\.venv\lib\site-packages (from unstructured[pdf]) (5.2.0)
Requirement already satisfied: filetype in d:\codework\github\langchain_training\.venv\lib\site-packages (from unstructured[pdf]) (1.2.0)
Requirement already satisfied: python-magic in d:\codework\github\langchain_training\.venv\lib\site-packages (from unstructured[pdf]) (0.4.27)
Requirement already satisfied: lxml in d:\codework\github\langchain_training\.venv\lib\site-packages (from unstructured[pdf]) (5.1.0)
Requirement already satisfied: nltk in d:\codework\github\langchain_training\.venv\lib\site-packages (from unstructured[pdf]) (3.8.1)
Requirement already satisfied: tabulate in d:\codework\github\langchain_training\.venv\lib\site-packages (from unstructured[pdf]) (0.9.0)
Requirement already satisfied: requests in d:\codework\github\langchain_training\.venv\lib\site-packages (from unstructured[pdf]) (2.31.0)
Requirement already satisfied: beautifulsoup4 in d:\codework\github\langchain_training\.venv\lib\site-packages (from unstructured[pdf]) (4.12.3)
Requirement already satisfied: emoji in d:\codework\github\langchain_training\.venv\lib\site-packages (from unstructured[pdf]) (2.10.1)
Requirement already satisfied: dataclasses-json in d:\codework\github\langchain_training\.venv\lib\site-packages (from unstructured[pdf]) (0.6.4)
Requirement already satisfied: python-iso639 in d:\codework\github\langchain_training\.venv\lib\site-packages (from unstructured[pdf]) (2024.2.7)
Requirement already satisfied: langdetect in d:\codework\github\langchain_training\.venv\lib\site-packages (from unstructured[pdf]) (1.0.9)
Requirement already satisfied: numpy in d:\codework\github\langchain_training\.venv\lib\site-packages (from unstructured[pdf]) (1.26.4)
Requirement already satisfied: rapidfuzz in d:\codework\github\langchain_training\.venv\lib\site-packages (from unstructured[pdf]) (3.6.1)
Requirement already satisfied: backoff in d:\codework\github\langchain_training\.venv\lib\site-packages (from unstructured[pdf]) (1.10.0)
Requirement already satisfied: typing-extensions in d:\codework\github\langchain_training\.venv\lib\site-packages (from unstructured[pdf]) (4.9.0)
Requirement already satisfied: unstructured-client>=0.15.1 in d:\codework\github\langchain_training\.venv\lib\site-packages (from unstructured[pdf]) (0.18.0)
Requirement already satisfied: wrapt in d:\codework\github\langchain_training\.venv\lib\site-packages (from unstructured[pdf]) (1.16.0)
Collecting onnx (from unstructured[pdf])
  Using cached onnx-1.15.0-cp39-cp39-win_amd64.whl.metadata (15 kB)
Collecting pdf2image (from unstructured[pdf])
  Using cached pdf2image-1.17.0-py3-none-any.whl.metadata (6.2 kB)
Collecting pdfminer.six (from unstructured[pdf])
  Using cached pdfminer.six-20231228-py3-none-any.whl.metadata (4.2 kB)
Collecting pikepdf (from unstructured[pdf])
  Using cached pikepdf-8.13.0-cp39-cp39-win_amd64.whl.metadata (8.7 kB)
Collecting pillow-heif (from unstructured[pdf])
  Using cached pillow_heif-0.15.0-cp39-cp39-win_amd64.whl.metadata (9.5 kB)
Collecting pypdf (from unstructured[pdf])
  Using cached pypdf-4.0.2-py3-none-any.whl.metadata (7.4 kB)
Collecting unstructured-inference==0.7.23 (from unstructured[pdf])
  Using cached unstructured_inference-0.7.23-py3-none-any.whl.metadata (5.8 kB)
Collecting unstructured.pytesseract>=0.3.12 (from unstructured[pdf])
  Using cached unstructured.pytesseract-0.3.12-py3-none-any.whl.metadata (11 kB)
Collecting layoutparser[layoutmodels,tesseract] (from unstructured-inference==0.7.23->unstructured[pdf])
  Using cached layoutparser-0.3.4-py3-none-any.whl.metadata (7.7 kB)
Requirement already satisfied: python-multipart in d:\codework\github\langchain_training\.venv\lib\site-packages (from unstructured-inference==0.7.23->unstructured[pdf]) (0.0.9)
Requirement already satisfied: huggingface-hub in d:\codework\github\langchain_training\.venv\lib\site-packages (from unstructured-inference==0.7.23->unstructured[pdf]) (0.20.3)
Collecting opencv-python!=4.7.0.68 (from unstructured-inference==0.7.23->unstructured[pdf])
  Using cached opencv_python-4.9.0.80-cp37-abi3-win_amd64.whl.metadata (20 kB)
Collecting onnxruntime<1.16 (from unstructured-inference==0.7.23->unstructured[pdf])
  Using cached onnxruntime-1.15.1-cp39-cp39-win_amd64.whl.metadata (4.1 kB)
Collecting transformers>=4.25.1 (from unstructured-inference==0.7.23->unstructured[pdf])
  Using cached transformers-4.38.2-py3-none-any.whl.metadata (130 kB)
Requirement already satisfied: certifi>=2023.7.22 in d:\codework\github\langchain_training\.venv\lib\site-packages (from unstructured-client>=0.15.1->unstructured[pdf]) (2024.2.2)
Requirement already satisfied: charset-normalizer>=3.2.0 in d:\codework\github\langchain_training\.venv\lib\site-packages (from unstructured-client>=0.15.1->unstructured[pdf]) (3.3.2)
Requirement already satisfied: dataclasses-json-speakeasy>=0.5.11 in d:\codework\github\langchain_training\.venv\lib\site-packages (from unstructured-client>=0.15.1->unstructured[pdf]) (0.5.11)
Requirement already satisfied: idna>=3.4 in d:\codework\github\langchain_training\.venv\lib\site-packages (from unstructured-client>=0.15.1->unstructured[pdf]) (3.6)
Requirement already satisfied: jsonpath-python>=1.0.6 in d:\codework\github\langchain_training\.venv\lib\site-packages (from unstructured-client>=0.15.1->unstructured[pdf]) (1.0.6)
Requirement already satisfied: marshmallow>=3.19.0 in d:\codework\github\langchain_training\.venv\lib\site-packages (from unstructured-client>=0.15.1->unstructured[pdf]) (3.20.2)
Requirement already satisfied: mypy-extensions>=1.0.0 in d:\codework\github\langchain_training\.venv\lib\site-packages (from unstructured-client>=0.15.1->unstructured[pdf]) (1.0.0)
Requirement already satisfied: packaging>=23.1 in d:\codework\github\langchain_training\.venv\lib\site-packages (from unstructured-client>=0.15.1->unstructured[pdf]) (23.2)
Requirement already satisfied: python-dateutil>=2.8.2 in d:\codework\github\langchain_training\.venv\lib\site-packages (from unstructured-client>=0.15.1->unstructured[pdf]) (2.8.2)
Requirement already satisfied: six>=1.16.0 in d:\codework\github\langchain_training\.venv\lib\site-packages (from unstructured-client>=0.15.1->unstructured[pdf]) (1.16.0)
Requirement already satisfied: typing-inspect>=0.9.0 in d:\codework\github\langchain_training\.venv\lib\site-packages (from unstructured-client>=0.15.1->unstructured[pdf]) (0.9.0)
Requirement already satisfied: urllib3>=1.26.18 in d:\codework\github\langchain_training\.venv\lib\site-packages (from unstructured-client>=0.15.1->unstructured[pdf]) (2.2.1)
Requirement already satisfied: Pillow>=8.0.0 in d:\codework\github\langchain_training\.venv\lib\site-packages (from unstructured.pytesseract>=0.3.12->unstructured[pdf]) (10.2.0)
Requirement already satisfied: soupsieve>1.2 in d:\codework\github\langchain_training\.venv\lib\site-packages (from beautifulsoup4->unstructured[pdf]) (2.5)
Requirement already satisfied: click in d:\codework\github\langchain_training\.venv\lib\site-packages (from nltk->unstructured[pdf]) (8.1.7)
Requirement already satisfied: joblib in d:\codework\github\langchain_training\.venv\lib\site-packages (from nltk->unstructured[pdf]) (1.3.2)
Requirement already satisfied: regex>=2021.8.3 in d:\codework\github\langchain_training\.venv\lib\site-packages (from nltk->unstructured[pdf]) (2023.12.25)
Requirement already satisfied: tqdm in d:\codework\github\langchain_training\.venv\lib\site-packages (from nltk->unstructured[pdf]) (4.66.2)
Collecting protobuf>=3.20.2 (from onnx->unstructured[pdf])
  Using cached protobuf-4.25.3-cp39-cp39-win_amd64.whl.metadata (541 bytes)
Requirement already satisfied: cryptography>=36.0.0 in d:\codework\github\langchain_training\.venv\lib\site-packages (from pdfminer.six->unstructured[pdf]) (42.0.5)
Collecting Deprecated (from pikepdf->unstructured[pdf])
  Using cached Deprecated-1.2.14-py2.py3-none-any.whl.metadata (5.4 kB)
Collecting lxml (from unstructured[pdf])
  Using cached lxml-4.9.4-cp39-cp39-win_amd64.whl.metadata (3.8 kB)
Requirement already satisfied: cffi>=1.12 in d:\codework\github\langchain_training\.venv\lib\site-packages (from cryptography>=36.0.0->pdfminer.six->unstructured[pdf]) (1.16.0)
Collecting coloredlogs (from onnxruntime<1.16->unstructured-inference==0.7.23->unstructured[pdf])
  Using cached coloredlogs-15.0.1-py2.py3-none-any.whl.metadata (12 kB)
Collecting flatbuffers (from onnxruntime<1.16->unstructured-inference==0.7.23->unstructured[pdf])
  Using cached flatbuffers-23.5.26-py2.py3-none-any.whl.metadata (850 bytes)
Collecting sympy (from onnxruntime<1.16->unstructured-inference==0.7.23->unstructured[pdf])
  Using cached sympy-1.12-py3-none-any.whl.metadata (12 kB)
Requirement already satisfied: filelock in d:\codework\github\langchain_training\.venv\lib\site-packages (from transformers>=4.25.1->unstructured-inference==0.7.23->unstructured[pdf]) (3.13.1)
Requirement already satisfied: pyyaml>=5.1 in d:\codework\github\langchain_training\.venv\lib\site-packages (from transformers>=4.25.1->unstructured-inference==0.7.23->unstructured[pdf]) (6.0.1)
Collecting tokenizers<0.19,>=0.14 (from transformers>=4.25.1->unstructured-inference==0.7.23->unstructured[pdf])
  Using cached tokenizers-0.15.2-cp39-none-win_amd64.whl.metadata (6.8 kB)
Collecting safetensors>=0.4.1 (from transformers>=4.25.1->unstructured-inference==0.7.23->unstructured[pdf])
  Using cached safetensors-0.4.2-cp39-none-win_amd64.whl.metadata (3.9 kB)
Requirement already satisfied: fsspec>=2023.5.0 in d:\codework\github\langchain_training\.venv\lib\site-packages (from huggingface-hub->unstructured-inference==0.7.23->unstructured[pdf]) (2024.2.0)
Requirement already satisfied: colorama in d:\codework\github\langchain_training\.venv\lib\site-packages (from tqdm->nltk->unstructured[pdf]) (0.4.6)
Collecting scipy (from layoutparser[layoutmodels,tesseract]->unstructured-inference==0.7.23->unstructured[pdf])
  Using cached scipy-1.12.0-cp39-cp39-win_amd64.whl.metadata (60 kB)
Requirement already satisfied: pandas in d:\codework\github\langchain_training\.venv\lib\site-packages (from layoutparser[layoutmodels,tesseract]->unstructured-inference==0.7.23->unstructured[pdf]) (2.2.1)
Collecting iopath (from layoutparser[layoutmodels,tesseract]->unstructured-inference==0.7.23->unstructured[pdf])
  Using cached iopath-0.1.10.tar.gz (42 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Collecting pdfplumber (from layoutparser[layoutmodels,tesseract]->unstructured-inference==0.7.23->unstructured[pdf])
  Using cached pdfplumber-0.10.4-py3-none-any.whl.metadata (39 kB)
Collecting pytesseract (from layoutparser[layoutmodels,tesseract]->unstructured-inference==0.7.23->unstructured[pdf])
  Using cached pytesseract-0.3.10-py3-none-any.whl.metadata (11 kB)
Collecting torch (from layoutparser[layoutmodels,tesseract]->unstructured-inference==0.7.23->unstructured[pdf])
  Using cached torch-2.2.1-cp39-cp39-win_amd64.whl.metadata (26 kB)
Collecting torchvision (from layoutparser[layoutmodels,tesseract]->unstructured-inference==0.7.23->unstructured[pdf])
  Using cached torchvision-0.17.1-cp39-cp39-win_amd64.whl.metadata (6.6 kB)
Collecting effdet (from layoutparser[layoutmodels,tesseract]->unstructured-inference==0.7.23->unstructured[pdf])
  Using cached effdet-0.4.1-py3-none-any.whl.metadata (33 kB)
Requirement already satisfied: pycparser in d:\codework\github\langchain_training\.venv\lib\site-packages (from cffi>=1.12->cryptography>=36.0.0->pdfminer.six->unstructured[pdf]) (2.21)
Collecting humanfriendly>=9.1 (from coloredlogs->onnxruntime<1.16->unstructured-inference==0.7.23->unstructured[pdf])
  Using cached humanfriendly-10.0-py2.py3-none-any.whl.metadata (9.2 kB)
Collecting timm>=0.9.2 (from effdet->layoutparser[layoutmodels,tesseract]->unstructured-inference==0.7.23->unstructured[pdf])
  Using cached timm-0.9.16-py3-none-any.whl.metadata (38 kB)
Collecting pycocotools>=2.0.2 (from effdet->layoutparser[layoutmodels,tesseract]->unstructured-inference==0.7.23->unstructured[pdf])
  Using cached pycocotools-2.0.7-cp39-cp39-win_amd64.whl.metadata (1.1 kB)
Collecting omegaconf>=2.0 (from effdet->layoutparser[layoutmodels,tesseract]->unstructured-inference==0.7.23->unstructured[pdf])
  Using cached omegaconf-2.3.0-py3-none-any.whl.metadata (3.9 kB)
Collecting networkx (from torch->layoutparser[layoutmodels,tesseract]->unstructured-inference==0.7.23->unstructured[pdf])
  Using cached networkx-3.2.1-py3-none-any.whl.metadata (5.2 kB)
Requirement already satisfied: jinja2 in d:\codework\github\langchain_training\.venv\lib\site-packages (from torch->layoutparser[layoutmodels,tesseract]->unstructured-inference==0.7.23->unstructured[pdf]) (3.1.3)
Collecting portalocker (from iopath->layoutparser[layoutmodels,tesseract]->unstructured-inference==0.7.23->unstructured[pdf])
  Using cached portalocker-2.8.2-py3-none-any.whl.metadata (8.5 kB)
Requirement already satisfied: pytz>=2020.1 in d:\codework\github\langchain_training\.venv\lib\site-packages (from pandas->layoutparser[layoutmodels,tesseract]->unstructured-inference==0.7.23->unstructured[pdf]) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in d:\codework\github\langchain_training\.venv\lib\site-packages (from pandas->layoutparser[layoutmodels,tesseract]->unstructured-inference==0.7.23->unstructured[pdf]) (2024.1)
Collecting pdfminer.six (from unstructured[pdf])
  Using cached pdfminer.six-20221105-py3-none-any.whl.metadata (4.0 kB)
Collecting pypdfium2>=4.18.0 (from pdfplumber->layoutparser[layoutmodels,tesseract]->unstructured-inference==0.7.23->unstructured[pdf])
  Using cached pypdfium2-4.27.0-py3-none-win_amd64.whl.metadata (48 kB)
Collecting mpmath>=0.19 (from sympy->onnxruntime<1.16->unstructured-inference==0.7.23->unstructured[pdf])
  Using cached mpmath-1.3.0-py3-none-any.whl.metadata (8.6 kB)
Collecting pyreadline3 (from humanfriendly>=9.1->coloredlogs->onnxruntime<1.16->unstructured-inference==0.7.23->unstructured[pdf])
  Using cached pyreadline3-3.4.1-py3-none-any.whl.metadata (2.0 kB)
Collecting antlr4-python3-runtime==4.9.* (from omegaconf>=2.0->effdet->layoutparser[layoutmodels,tesseract]->unstructured-inference==0.7.23->unstructured[pdf])

ERROR: Could not install packages due to an OSError: [WinError 32] The process cannot access the file because it is being used by another process: 'd:\\CodeWork\\GitHub\\langchain_training\\.venv\\Lib\\site-packages\\scipy\\cluster\\vq.py'
Consider using the `--user` option or check the permissions.

In [42]:
!pip install unstructured[pdf] --user --force

## CSV Loader

In [2]:
from langchain.document_loaders import CSVLoader

In [15]:
loader = CSVLoader(file_path='../datasets/sns_datasets/titanic.csv') # Lazy Loader
loader

In [16]:
data = loader.load()

data # Python list of document objects; Each row in a separate document object

[Document(page_content='survived: 0\npclass: 3\nsex: male\nage: 22.0\nsibsp: 1\nparch: 0\nfare: 7.25\nembarked: S\nclass: Third\nwho: man\nadult_male: True\ndeck: \nembark_town: Southampton\nalive: no\nalone: False', metadata={'source': '../datasets/sns_datasets/titanic.csv', 'row': 0}),
 Document(page_content='survived: 1\npclass: 1\nsex: female\nage: 38.0\nsibsp: 1\nparch: 0\nfare: 71.2833\nembarked: C\nclass: First\nwho: woman\nadult_male: False\ndeck: C\nembark_town: Cherbourg\nalive: yes\nalone: False', metadata={'source': '../datasets/sns_datasets/titanic.csv', 'row': 1}),
 Document(page_content='survived: 1\npclass: 3\nsex: female\nage: 26.0\nsibsp: 0\nparch: 0\nfare: 7.925\nembarked: S\nclass: Third\nwho: woman\nadult_male: False\ndeck: \nembark_town: Southampton\nalive: yes\nalone: True', metadata={'source': '../datasets/sns_datasets/titanic.csv', 'row': 2}),
 Document(page_content='survived: 1\npclass: 1\nsex: female\nage: 35.0\nsibsp: 1\nparch: 0\nfare: 53.1\nembarked: S\nclass: First\nwho: woman\nadult_male: False\ndeck: C\nembark_town: Southampton\nalive: yes\nalone: False', metadata={'source': '../datasets/sns_datasets/titanic.csv', 'row': 3}),
 Document(page_content='survived: 0\npclass: 3\nsex: male\nage: 35.0\nsibsp: 0\nparch: 0\nfare: 8.05\nembarked: S\nclass: Third\nwho: man\nadult_male: True\ndeck: \nembark_town: Southampton\nalive: no\nalone: True', metadata={'source': '../datasets/sns_datasets/titanic.csv', 'row': 4}),
 Document(page_content='survived: 0\npclass: 3\nsex: male\nage: \nsibsp: 0\nparch: 0\nfare: 8.4583\nembarked: Q\nclass: Third\nwho: man\nadult_male: True\ndeck: \nembark_town: Queenstown\nalive: no\nalone: True', metadata={'source': '../datasets/sns_datasets/titanic.csv', 'row': 5}),
 Document(page_content='survived: 0\npclass: 1\nsex: male\nage: 54.0\nsibsp: 0\nparch: 0\nfare: 51.8625\nembarked: S\nclass: First\nwho: man\nadult_male: True\ndeck: E\nembark_town: Southampton\nalive: no\nalone: True', metadata={'source': '../datasets/sns_datasets/titanic.csv', 'row': 6}),
 Document(page_content='survived: 0\npclass: 3\nsex: male\nage: 2.0\nsibsp: 3\nparch: 1\nfare: 21.075\nembarked: S\nclass: Third\nwho: child\nadult_male: False\ndeck: \nembark_town: Southampton\nalive: no\nalone: False', metadata={'source': '../datasets/sns_datasets/titanic.csv', 'row': 7}),
 Document(page_content='survived: 1\npclass: 3\nsex: female\nage: 27.0\nsibsp: 0\nparch: 2\nfare: 11.1333\nembarked: S\nclass: Third\nwho: woman\nadult_male: False\ndeck: \nembark_town: Southampton\nalive: yes\nalone: False', metadata={'source': '../datasets/sns_datasets/titanic.csv', 'row': 8}),
 Document(page_content='survived: 1\npclass: 2\nsex: female\nage: 14.0\nsibsp: 1\nparch: 0\nfare: 30.0708\nembarked: C\nclass: Second\nwho: child\nadult_male: False\ndeck: \nembark_town: Cherbourg\nalive: yes\nalone: False', metadata={'source': '../datasets/sns_datasets/titanic.csv', 'row': 9}),
 Document(page_content='survived: 1\npclass: 3\nsex: female\nage: 4.0\nsibsp: 1\nparch: 1\nfare: 16.7\nembarked: S\nclass: Third\nwho: child\nadult_male: False\ndeck: G\nembark_town: Southampton\nalive: yes\nalone: False', metadata={'source': '../datasets/sns_datasets/titanic.csv', 'row': 10}),
 Document(page_content='survived: 1\npclass: 1\nsex: female\nage: 58.0\nsibsp: 0\nparch: 0\nfare: 26.55\nembarked: S\nclass: First\nwho: woman\nadult_male: False\ndeck: C\nembark_town: Southampton\nalive: yes\nalone: True', metadata={'source': '../datasets/sns_datasets/titanic.csv', 'row': 11}),
 Document(page_content='survived: 0\npclass: 3\nsex: male\nage: 20.0\nsibsp: 0\nparch: 0\nfare: 8.05\nembarked: S\nclass: Third\nwho: man\nadult_male: True\ndeck: \nembark_town: Southampton\nalive: no\nalone: True', metadata={'source': '../datasets/sns_datasets/titanic.csv', 'row': 12}),
 Document(page_content='survived: 0\npclass: 3\nsex: male\nage: 39.0\nsibsp: 1\nparch: 5\nfare: 31.275\nembarked: S\nclass: Third\nwho: man\nadult_male: True\ndeck: \nembark_town: Southampton\nalive: no\nalone: False', metadata={'source': '../datasets/sns_datasets/titanic.csv', 'row': 13}),
 Document(page_content='survived: 0\npclass: 3\nsex: female\nage: 14.0\nsibsp: 0\nparch: 0\nfare: 7.8542\nembarked: S\nclass: Third\nwho: child\nadult_male: False\ndeck: \nembark_town: Southampton\nalive: no\nalone: True', metadata={'source': '../datasets/sns_datasets/titanic.csv', 'row': 14}),
 Document(page_content='survived: 1\npclass: 2\nsex: female\nage: 55.0\nsibsp: 0\nparch: 0\nfare: 16.0\nembarked: S\nclass: Second\nwho: woman\nadult_male: False\ndeck: \nembark_town: Southampton\nalive: yes\nalone: True', metadata={'source': '../datasets/sns_datasets/titanic.csv', 'row': 15}),
 Document(page_content='survived: 0\npclass: 3\nsex: male\nage: 2.0\nsibsp: 4\nparch: 1\nfare: 29.125\nembarked: Q\nclass: Third\nwho: child\nadult_male: False\ndeck: \nembark_town: Queenstown\nalive: no\nalone: False', metadata={'source': '../datasets/sns_datasets/titanic.csv', 'row': 16}),
 Document(page_content='survived: 1\npclass: 2\nsex: male\nage: \nsibsp: 0\nparch: 0\nfare: 13.0\nembarked: S\nclass: Second\nwho: man\nadult_male: True\ndeck: \nembark_town: Southampton\nalive: yes\nalone: True', metadata={'source': '../datasets/sns_datasets/titanic.csv', 'row': 17}),
 Document(page_content='survived: 0\npclass: 3\nsex: female\nage: 31.0\nsibsp: 1\nparch: 0\nfare: 18.0\nembarked: S\nclass: Third\nwho: woman\nadult_male: False\ndeck: \nembark_town: Southampton\nalive: no\nalone: False', metadata={'source': '../datasets/sns_datasets/titanic.csv', 'row': 18}),
 Document(page_content='survived: 1\npclass: 3\nsex: female\nage: \nsibsp: 0\nparch: 0\nfare: 7.225\nembarked: C\nclass: Third\nwho: woman\nadult_male: False\ndeck: \nembark_town: Cherbourg\nalive: yes\nalone: True', metadata={'source': '../datasets/sns_datasets/titanic.csv', 'row': 19}),
 Document(page_content='survived: 0\npclass: 2\nsex: male\nage: 35.0\nsibsp: 0\nparch: 0\nfare: 26.0\nembarked: S\nclass: Second\nwho: man\nadult_male: True\ndeck: \nembark_town: Southampton\nalive: no\nalone: True', metadata={'source': '../datasets/sns_datasets/titanic.csv', 'row': 20}),
 Document(page_content='survived: 1\npclass: 2\nsex: male\nage: 34.0\nsibsp: 0\nparch: 0\nfare: 13.0\nembarked: S\nclass: Second\nwho: man\nadult_male: True\ndeck: D\nembark_town: Southampton\nalive: yes\nalone: True', metadata={'source': '../datasets/sns_datasets/titanic.csv', 'row': 21}),
 Document(page_content='survived: 1\npclass: 3\nsex: female\nage: 15.0\nsibsp: 0\nparch: 0\nfare: 8.0292\nembarked: Q\nclass: Third\nwho: child\nadult_male: False\ndeck: \nembark_town: Queenstown\nalive: yes\nalone: True', metadata={'source': '../datasets/sns_datasets/titanic.csv', 'row': 22}),
 Document(page_content='survived: 1\npclass: 1\nsex: male\nage: 28.0\nsibsp: 0\nparch: 0\nfare: 35.5\nembarked: S\nclass: First\nwho: man\nadult_male: True\ndeck: A\nembark_town: Southampton\nalive: yes\nalone: True', metadata={'source': '../datasets/sns_datasets/titanic.csv', 'row': 23}),
 Document(page_content='survived: 0\npclass: 3\nsex: female\nage: 8.0\nsibsp: 3\nparch: 1\nfare: 21.075\nembarked: S\nclass: Third\nwho: child\nadult_male: False\ndeck: \nembark_town: Southampton\nalive: no\nalone: False', metadata={'source': '../datasets/sns_datasets/titanic.csv', 'row': 24}),
 Document(page_content='survived: 1\npclass: 3\nsex: female\nage: 38.0\nsibsp: 1\nparch: 5\nfare: 31.3875\nembarked: S\nclass: Third\nwho: woman\nadult_male: False\ndeck: \nembark_town: Southampton\nalive: yes\nalone: False', metadata={'source': '../datasets/sns_datasets/titanic.csv', 'row': 25}),
 Document(page_content='survived: 0\npclass: 3\nsex: male\nage: \nsibsp: 0\nparch: 0\nfare: 7.225\nembarked: C\nclass: Third\nwho: man\nadult_male: True\ndeck: \nembark_town: Cherbourg\nalive: no\nalone: True', metadata={'source': '../datasets/sns_datasets/titanic.csv', 'row': 26}),
 Document(page_content='survived: 0\npclass: 1\nsex: male\nage: 19.0\nsibsp: 3\nparch: 2\nfare: 263.0\nembarked: S\nclass: First\nwho: man\nadult_male: True\ndeck: C\nembark_town: Southampton\nalive: no\nalone: False', metadata={'source': '../datasets/sns_datasets/titanic.csv', 'row': 27}),
 Document(page_content='survived: 1\npclass: 3\nsex: female\nage: \nsibsp: 0\nparch: 0\nfare: 7.8792\nembarked: Q\nclass: Third\nwho: woman\nadult_male: False\ndeck: \nembark_town: Queenstown\nalive: yes\nalone: True', metadata={'source': '../datasets/sns_datasets/titanic.csv', 'row': 28}),
 Document(page_content='survived: 0\npclass: 3\nsex: male\nage: \nsibsp: 0\nparch: 0\nfare: 7.8958\nembarked: S\nclass: Third\nwho: man\nadult_male: True\ndeck: \nembark_town: Southampton\nalive: no\nalone: True', metadata={'source': '../datasets/sns_datasets/titanic.csv', 'row': 29}),
 Document(page_content='survived: 0\npclass: 1\nsex: male\nage: 40.0\nsibsp: 0\nparch: 0\nfare: 27.7208\nembarked: C\nclass: First\nwho: man\nadult_male: True\ndeck: \nembark_town: Cherbourg\nalive: no\nalone: True', metadata={'source': '../datasets/sns_datasets/titanic.csv', 'row': 30}),
 Document(page_content='survived: 1\npclass: 1\nsex: female\nage: \nsibsp: 1\nparch: 0\nfare: 146.5208\nembarked: C\nclass: First\nwho: woman\nadult_male: False\ndeck: B\nembark_town: Cherbourg\nalive: yes\nalone: False', metadata={'source': '../datasets/sns_datasets/titanic.csv', 'row': 31}),
 Document(page_content='survived: 1\npclass: 3\nsex: female\nage: \nsibsp: 0\nparch: 0\nfare: 7.75\nembarked: Q\nclass: Third\nwho: woman\nadult_male: False\ndeck: \nembark_town: Queenstown\nalive: yes\nalone: True', metadata={'source': '../datasets/sns_datasets/titanic.csv', 'row': 32}),
 Document(page_content='survived: 0\npclass: 2\nsex: male\nage: 66.0\nsibsp: 0\nparch: 0\nfare: 10.5\nembarked: S\nclass: Second\nwho: man\nadult_male: True\ndeck: \nembark_town: Southampton\nalive: no\nalone: True', metadata={'source': '../datasets/sns_datasets/titanic.csv', 'row': 33}),
 Document(page_content='survived: 0\npclass: 1\nsex: male\nage: 28.0\nsibsp: 1\nparch: 0\nfare: 82.1708\nembarked: C\nclass: First\nwho: man\nadult_male: True\ndeck: \nembark_town: Cherbourg\nalive: no\nalone: False', metadata={'source': '../datasets/sns_datasets/titanic.csv', 'row': 34}),
 Document(page_content='survived: 0\npclass: 1\nsex: male\nage: 42.0\nsibsp: 1\nparch: 0\nfare: 52.0\nembarked: S\nclass: First\nwho: man\nadult_male: True\ndeck: \nembark_town: Southampton\nalive: no\nalone: False', metadata={'source': '../datasets/sns_datasets/titanic.csv', 'row': 35}),
 Document(page_content='survived: 1\npclass: 3\nsex: male\nage: \nsibsp: 0\nparch: 0\nfare: 7.2292\nembarked: C\nclass: Third\nwho: man\nadult_male: True\ndeck: \nembark_town: Cherbourg\nalive: yes\nalone: True', metadata={'source': '../datasets/sns_datasets/titanic.csv', 'row': 36}),
 Document(page_content='survived: 0\npclass: 3\nsex: male\nage: 21.0\nsibsp: 0\nparch: 0\nfare: 8.05\nembarked: S\nclass: Third\nwho: man\nadult_male: True\ndeck: \nembark_town: Southampton\nalive: no\nalone: True', metadata={'source': '../datasets/sns_datasets/titanic.csv', 'row': 37}),
 Document(page_content='survived: 0\npclass: 3\nsex: female\nage: 18.0\nsibsp: 2\nparch: 0\nfare: 18.0\nembarked: S\nclass: Third\nwho: woman\nadult_male: False\ndeck: \nembark_town: Southampton\nalive: no\nalone: False', metadata={'source': '../datasets/sns_datasets/titanic.csv', 'row': 38}),
 Document(page_content='survived: 1\npclass: 3\nsex: female\nage: 14.0\nsibsp: 1\nparch: 0\nfare: 11.2417\nembarked: C\nclass: Third\nwho: child\nadult_male: False\ndeck: \nembark_town: Cherbourg\nalive: yes\nalone: False', metadata={'source': '../datasets/sns_datasets/titanic.csv', 'row': 39}),
 Document(page_content='survived: 0\npclass: 3\nsex: female\nage: 40.0\nsibsp: 1\nparch: 0\nfare: 9.475\nembarked: S\nclass: Third\nwho: woman\nadult_male: False\ndeck: \nembark_town: Southampton\nalive: no\nalone: False', metadata={'source': '../datasets/sns_datasets/titanic.csv', 'row': 40}),
 Document(page_content='survived: 0\npclass: 2\nsex: female\nage: 27.0\nsibsp: 1\nparch: 0\nfare: 21.0\nembarked: S\nclass: Second\nwho: woman\nadult_male: False\ndeck: \nembark_town: Southampton\nalive: no\nalone: False', metadata={'source': '../datasets/sns_datasets/titanic.csv', 'row': 41}),
 Document(page_content='survived: 0\npclass: 3\nsex: male\nage: \nsibsp: 0\nparch: 0\nfare: 7.8958\nembarked: C\nclass: Third\nwho: man\nadult_male: True\ndeck: \nembark_town: Cherbourg\nalive: no\nalone: True', metadata={'source': '../datasets/sns_datasets/titanic.csv', 'row': 42}),
 Document(page_content='survived: 1\npclass: 2\nsex: female\nage: 3.0\nsibsp: 1\nparch: 2\nfare: 41.5792\nembarked: C\nclass: Second\nwho: child\nadult_male: False\ndeck: \nembark_town: Cherbourg\nalive: yes\nalone: False', metadata={'source': '../datasets/sns_datasets/titanic.csv', 'row': 43}),
 Document(page_content='survived: 1\npclass: 3\nsex: female\nage: 19.0\nsibsp: 0\nparch: 0\nfare: 7.8792\nembarked: Q\nclass: Third\nwho: woman\nadult_male: False\ndeck: \nembark_town: Queenstown\nalive: yes\nalone: True', metadata={'source': '../datasets/sns_datasets/titanic.csv', 'row': 44}),
 Document(page_content='survived: 0\npclass: 3\nsex: male\nage: \nsibsp: 0\nparch: 0\nfare: 8.05\nembarked: S\nclass: Third\nwho: man\nadult_male: True\ndeck: \nembark_town: Southampton\nalive: no\nalone: True', metadata={'source': '../datasets/sns_datasets/titanic.csv', 'row': 45}),
 Document(page_content='survived: 0\npclass: 3\nsex: male\nage: \nsibsp: 1\nparch: 0\nfare: 15.5\nembarked: Q\nclass: Third\nwho: man\nadult_male: True\ndeck: \nembark_town: Queenstown\nalive: no\nalone: False', metadata={'source': '../datasets/sns_datasets/titanic.csv', 'row': 46}),
 Document(page_content='survived: 1\npclass: 3\nsex: female\nage: \nsibsp: 0\nparch: 0\nfare: 7.75\nembarked: Q\nclass: Third\nwho: woman\nadult_male: False\ndeck: \nembark_town: Queenstown\nalive: yes\nalone: True', metadata={'source': '../datasets/sns_datasets/titanic.csv', 'row': 47}),
 Document(page_content='survived: 0\npclass: 3\nsex: male\nage: \nsibsp: 2\nparch: 0\nfare: 21.6792\nembarked: C\nclass: Third\nwho: man\nadult_male: True\ndeck: \nembark_town: Cherbourg\nalive: no\nalone: False', metadata={'source': '../datasets/sns_datasets/titanic.csv', 'row': 48}),
 Document(page_content='survived: 0\npclass: 3\nsex: female\nage: 18.0\nsibsp: 1\nparch: 0\nfare: 17.8\nembarked: S\nclass: Third\nwho: woman\nadult_male: False\ndeck: \nembark_town: Southampton\nalive: no\nalone: False', metadata={'source': '../datasets/sns_datasets/titanic.csv', 'row': 49}),
 Document(page_content='survived: 0\npclass: 3\nsex: male\nage: 7.0\nsibsp: 4\nparch: 1\nfare: 39.6875\nembarked: S\nclass: Third\nwho: child\nadult_male: False\ndeck: \nembark_town: Southampton\nalive: no\nalone: False', metadata={'source': '../datasets/sns_datasets/titanic.csv', 'row': 50}),
 Document(page_content='survived: 0\npclass: 3\nsex: male\nage: 21.0\nsibsp: 0\nparch: 0\nfare: 7.8\nembarked: S\nclass: Third\nwho: man\nadult_male: True\ndeck: \nembark_town: Southampton\nalive: no\nalone: True', metadata={'source': '../datasets/sns_datasets/titanic.csv', 'row': 51}),
 Document(page_content='survived: 1\npclass: 1\nsex: female\nage: 49.0\nsibsp: 1\nparch: 0\nfare: 76.7292\nembarked: C\nclass: First\nwho: woman\nadult_male: False\ndeck: D\nembark_town: Cherbourg\nalive: yes\nalone: False', metadata={'source': '../datasets/sns_datasets/titanic.csv', 'row': 52}),
 Document(page_content='survived: 1\npclass: 2\nsex: female\nage: 29.0\nsibsp: 1\nparch: 0\nfare: 26.0\nembarked: S\nclass: Second\nwho: woman\nadult_male: False\ndeck: \nembark_town: Southampton\nalive: yes\nalone: False', metadata={'source': '../datasets/sns_datasets/titanic.csv', 'row': 53}),
 Document(page_content='survived: 0\npclass: 1\nsex: male\nage: 65.0\nsibsp: 0\nparch: 1\nfare: 61.9792\nembarked: C\nclass: First\nwho: man\nadult_male: True\ndeck: B\nembark_town: Cherbourg\nalive: no\nalone: False', metadata={'source': '../datasets/sns_datasets/titanic.csv', 'row': 54}),
 Document(page_content='survived: 1\npclass: 1\nsex: male\nage: \nsibsp: 0\nparch: 0\nfare: 35.5\nembarked: S\nclass: First\nwho: man\nadult_male: True\ndeck: C\nembark_town: Southampton\nalive: yes\nalone: True', metadata={'source': '../datasets/sns_datasets/titanic.csv', 'row': 55}),
 Document(page_content='survived: 1\npclass: 2\nsex: female\nage: 21.0\nsibsp: 0\nparch: 0\nfare: 10.5\nembarked: S\nclass: Second\nwho: woman\nadult_male: False\ndeck: \nembark_town: Southampton\nalive: yes\nalone: True', metadata={'source': '../datasets/sns_datasets/titanic.csv', 'row': 56}),
 Document(page_content='survived: 0\npclass: 3\nsex: male\nage: 28.5\nsibsp: 0\nparch: 0\nfare: 7.2292\nembarked: C\nclass: Third\nwho: man\nadult_male: True\ndeck: \nembark_town: Cherbourg\nalive: no\nalone: True', metadata={'source': '../datasets/sns_datasets/titanic.csv', 'row': 57}),
 Document(page_content='survived: 1\npclass: 2\nsex: female\nage: 5.0\nsibsp: 1\nparch: 2\nfare: 27.75\nembarked: S\nclass: Second\nwho: child\nadult_male: False\ndeck: \nembark_town: Southampton\nalive: yes\nalone: False', metadata={'source': '../datasets/sns_datasets/titanic.csv', 'row': 58}),
 Document(page_content='survived: 0\npclass: 3\nsex: male\nage: 11.0\nsibsp: 5\nparch: 2\nfare: 46.9\nembarked: S\nclass: Third\nwho: child\nadult_male: False\ndeck: \nembark_town: Southampton\nalive: no\nalone: False', metadata={'source': '../datasets/sns_datasets/titanic.csv', 'row': 59}),
 Document(page_content='survived: 0\npclass: 3\nsex: male\nage: 22.0\nsibsp: 0\nparch: 0\nfare: 7.2292\nembarked: C\nclass: Third\nwho: man\nadult_male: True\ndeck: \nembark_town: Cherbourg\nalive: no\nalone: True', metadata={'source': '../datasets/sns_datasets/titanic.csv', 'row': 60}),
 Document(page_content='survived: 1\npclass: 1\nsex: female\nage: 38.0\nsibsp: 0\nparch: 0\nfare: 80.0\nembarked: \nclass: First\nwho: woman\nadult_male: False\ndeck: B\nembark_town: \nalive: yes\nalone: True', metadata={'source': '../datasets/sns_datasets/titanic.csv', 'row': 61}),
 Document(page_content='survived: 0\npclass: 1\nsex: male\nage: 45.0\nsibsp: 1\nparch: 0\nfare: 83.475\nembarked: S\nclass: First\nwho: man\nadult_male: True\ndeck: C\nembark_town: Southampton\nalive: no\nalone: False', metadata={'source': '../datasets/sns_datasets/titanic.csv', 'row': 62}),
 Document(page_content='survived: 0\npclass: 3\nsex: male\nage: 4.0\nsibsp: 3\nparch: 2\nfare: 27.9\nembarked: S\nclass: Third\nwho: child\nadult_male: False\ndeck: \nembark_town: Southampton\nalive: no\nalone: False', metadata={'source': '../datasets/sns_datasets/titanic.csv', 'row': 63}),
 Document(page_content='survived: 0\npclass: 1\nsex: male\nage: \nsibsp: 0\nparch: 0\nfare: 27.7208\nembarked: C\nclass: First\nwho: man\nadult_male: True\ndeck: \nembark_town: Cherbourg\nalive: no\nalone: True', metadata={'source': '../datasets/sns_datasets/titanic.csv', 'row': 64}),
 Document(page_content='survived: 1\npclass: 3\nsex: male\nage: \nsibsp: 1\nparch: 1\nfare: 15.2458\nembarked: C\nclass: Third\nwho: man\nadult_male: True\ndeck: \nembark_town: Cherbourg\nalive: yes\nalone: False', metadata={'source': '../datasets/sns_datasets/titanic.csv', 'row': 65}),
 Document(page_content='survived: 1\npclass: 2\nsex: female\nage: 29.0\nsibsp: 0\nparch: 0\nfare: 10.5\nembarked: S\nclass: Second\nwho: woman\nadult_male: False\ndeck: F\nembark_town: Southampton\nalive: yes\nalone: True', metadata={'source': '../datasets/sns_datasets/titanic.csv', 'row': 66}),
 Document(page_content='survived: 0\npclass: 3\nsex: male\nage: 19.0\nsibsp: 0\nparch: 0\nfare: 8.1583\nembarked: S\nclass: Third\nwho: man\nadult_male: True\ndeck: \nembark_town: Southampton\nalive: no\nalone: True', metadata={'source': '../datasets/sns_datasets/titanic.csv', 'row': 67}),

In [17]:
data[0] # Single Row

Document(page_content='survived: 0\npclass: 3\nsex: male\nage: 22.0\nsibsp: 1\nparch: 0\nfare: 7.25\nembarked: S\nclass: Third\nwho: man\nadult_male: True\ndeck: \nembark_town: Southampton\nalive: no\nalone: False', metadata={'source': '../datasets/sns_datasets/titanic.csv', 'row': 0})

In [18]:
type(data[0])

langchain_core.documents.base.Document

In [19]:
# To get the document content

print(data[0].page_content)

survived: 0
pclass: 3
sex: male
age: 22.0
sibsp: 1
parch: 0
fare: 7.25
embarked: S
class: Third
who: man
adult_male: True
deck:
embark_town: Southampton
alive: no
alone: False

In [20]:
# Metadata

print(data[0].metadata)

{'source': '../datasets/sns_datasets/titanic.csv', 'row': 0}

In [28]:
# Specify a column name to identify the dataset

# data = CSVLoader(file_path='../datasets/sns_datasets/titanic.csv', source_column= 'sex').load()
data = CSVLoader(file_path='../datasets/sns_datasets/titanic.csv', source_column= 'gender').load()

data

RuntimeError: Error loading ../datasets/sns_datasets/titanic.csv

## Directory Loader

In [38]:
import os
from langchain.document_loaders import DirectoryLoader

In [39]:
dirname = "../datasets/harry_potter_mix"

In [40]:
loader = DirectoryLoader(path=dirname)

In [41]:
data = loader.load()

len(data)

ImportError: partition_pdf is not available. Install the pdf dependencies with pip install "unstructured[pdf]"

In [ ]:
len(os.listdir(dirname))

In [ ]:
# Specify the file formats

loader = DirectoryLoader(path=dirname, glob='**/*.html')

data = loader.load()

len(data)

In [ ]:
os.listdir("../data")

## HTML Loader

## JSON Loader

## Markdown Loader

## PDF Loader